.notpage__content {
    width: 100%;
    height: inherit;
    padding: 0 0 100px;
}

.notpage__info {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 35px 0;
    font-size: 26px;
    font-weight: 700;
    color: #34495e;
}